# .gitignore file for LMIC-node

# Exclude any Visual Studio Code and PlatformIO folders/files
.pio
.vscode
.vs
.pioenvs
.piolibdeps

# Exclude all contents from any keyfiles folder
keyfiles/**
# Except following example file
!keyfiles/lorawan-keys_example.h

# Exclude any LoRaWAN key files with following pattern
*lorawan-keys.h

# Exlude lib and include project folders (PlatformIO)
/lib/
/include/
